<!doctype html>
<html>
  <head>
    <title>Upload do Dr Jaum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
    <h1>So upload</h1>
  </body>
</html>
<!doctype html>
<html>
  <head>
    <title>Edge Name </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
        <a class="navbar-brand" href="/admin/upload">Pagina de Upload</a>
    </div>
  </body>
</html>