<!doctype html>
<html>
  <head>
    <title>Dr Jaum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
    <h1>Upload de Arquivos</h1>
  </body>
</html>
<!doctype html>
<html>
  <head>
    <title>Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Edge Name</a>
      </nav>
      <div class="jumbotron">
        <div class="container">
		<h1 class="display-4">File Upload</h1>
        </div>
      </div>
      <div class="container">
        <h1>File Upload</h1>
        <form method="POST" action="" enctype="multipart/form-data">
          <p><input type="file" name="file"></p>
          <p><input type="submit" value="Submit"></p>
        </form>
      </div>
    </div>
  </body>
</html>